<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html charset=UTF-8">
    <title>OP.GG 클론 사이트</title>
</head>
<body>
<form action="/search" name="indexForm" method="post">
    <input type="hidden" value="hid">
    검색하실 챔피언 이름을 입력해주세요. <br/>
    챔피언 이름 : <input id="cNm" name="cNm" value=""/><br/>
    챔피언 소속 : <input id="cRegion" name="cRegion" value=""/><br/>
    챔피언 포지션 : <input id="cPosition" name="cPosition" value=""/>
    <br/>
    <button type="button">검색</button>
</form>



</body>
</html>